body{
    margin-right: 10rem;
    margin-left: 10rem;
    padding: 0;
    display: flex;
    justify-content:center;
  
    font-family:  sans-serif;
    
}
.card{
   
    display: flex;
    flex-direction: row;
    border-right: 5px solid #1D3F64;
    border-top: 5px solid #1D3F64;
    border-bottom: 5px solid #1D3F64;
    border-left: 7rem solid #1D3F64;
    box-shadow: 2px 10px 15px rgb(139, 134, 134)  ;
    
}

.importantColor{
    color: #1D3F64;
    font-family: 'Staatliches', cursive;
}
.primaryColor{
    color: rgb(2, 0, 0);
}
 /* .main{
     width: 100%; 
}   */

.spacer{
    margin-bottom:50PX ;
}
.contact{
    display: block;
    
 
}
.contact ul{
    display: flex;
    margin: 0;
    padding: 0;
    cursor: pointer;
    
}
.contact a,.contactList{
    text-decoration: none;
    color: black;
    list-style: none;
    padding: 0;
    margin-left: 2px;
   
    /* margin-bottom: .8rem; */
   
}
i {
    padding-left: 1rem;
    margin-right: 5px;
}
ul h5{
    margin-left: 10px;
    font-weight: 400;
    font-size: 12px;
}


.idInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}
.infoControl{
    display: inline-block;
    min-width: 20%;
   
    
}
/* .imageControl{
    justify-items: end;
} */
img{  
    
    height: 200px;
    width: auto;
    border-radius: 100em;
}
.name, .designation{
    font-size: 30px;
    padding: .5rem;
}
.point{
    font-weight: 400;
    font-size: 20px;
}

.intro{
    padding: .5rem;
    font-size: 15px;
    font-weight: 200;
    color: black;
}

.exp li {
    list-style: none;
    margin-top: 3rem;
}


.experiance a, li{
    text-decoration: none;
    list-style: circle;
    color: black;
    /* margin: .8rem; */
    font-size: 16px;
}
.wrapper{
    display: flex;
    flex-direction: row;
  
   margin: .5rem;
   width: 50%;
}
.fixed{
    max-width: 5rem;
}
.vertical{
    width:1px;
    background-color: gray;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.uni{
    margin-top: 3.6rem;
    
}
.uni li{
    list-style: none;
}
.education{
    margin-left: -1rem;
}
*{box-sizing:border-box}
.skillContainer{
width: 50%;
background-color: #ddd;
border-radius: 20px;
}
.skill{
    width: 50%;
}
.skills{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.bgSkills{
    background-color:#729fc4 ;
    border-radius: 20px;
}
.competitive{
    width: 50%;   
}
.staticFrontEnd{
width: 70%;
}
.React{
    width: 75%;
}
.backend{
    width: 50%;
}
.database{
    width: 60%;
}
.os{
    width: 50%;
}
.language{
    width: 75%;
}
.Data_algo{
    width: 70%;
}
.automation{
    width: 30%;
}
.git{ 
    width: 75%;
}
